body {
    padding: 0;
    margin: 0px;
    background-color: #ffffff;
}

.navbar{
    margin: 0px;
    padding: 0px;
}

.navbar-brand{
    margin-left: 30px;
}

.nav-link {
    color:#004C6C;
    font-size: 17px;
    font-weight: bold;
}

.nav-link:hover {
    color: #000000;
}
.navbar-toggler {
    background-color: #004C6C;
}
.barra {
    background-color: #004C6C;
}

.carousel-container {
    max-width: 100%;
    margin: 0 auto;
}

.carousel-inner img {
    height: 80vh;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
.card:active {
    transform: scale(0.95);
}

.card2 {
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.card2:hover {
    transform: translateY(-5px);
}
.card-img-top2 {
    height: 150px;
    object-fit: cover;
}

.SeccionProductos {
    padding: 20px;
    background-color: #b4c7d1;
}
.ImageIcon {
    font-size: 100px;
}

.ImageIcon:hover{
    transform: scale(1.25);
    transition: transform 0.3s ease;
}

.abecedario {
    margin-left: 15px; 
    color: #004C6C; 
    font-weight: bold;
}

.barraFooter {
    background: #004C6C;
}


.btn-floating i {
    color: #ffffff;
    font-size: 25px; 
    transition: color 0.3s ease;
}

.btn-floating:hover i {
    color: #000000; 
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
}
.whatsapp-float i {
    margin-top: 7px;
    font-size: 45px;
}

.card-img-top {
  height: auto;       /* Deja que la imagen defina su propia altura */
  max-height: 250px;  /* Ajusta si quieres limitar la altura */
  object-fit: cover; /* O usa 'cover' si quieres recortar proporcionalmente */
}